.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%); /* Adjust the horizontal translation */
    margin-top: 0;
}

.landing-title {
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: black;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: lightgray;
}